html {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 1.5em 2em 1.5em 2em;
}

a {
  text-decoration: none;
  color: #000;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 600px;
}

#footer_content {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 600px;
}

h2 {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
}

#content {
  margin: 0 auto;
  max-width: 600px;
  min-height: 600px;
}

#about img {
  width: 128px;
  height: 128px;
}

#about h3 {
  width: 128px;
  text-align: center;
}

#portrait {
  width: fit-content;
  margin: 30px auto 0;
}