html {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width: 990px) {
  /* For mobile phones: */
  html {
    font-size: 22px;
  }
  header {
    max-width: 950px;
  }
  #footer_content {
    max-width: 950px;
  }
  #content {
    max-width: 950px;
  }
}
@media only screen and (min-width: 990px) {
  /* For desktops: */
  html {
    font-size: 16px;
  }
  header {
    max-width: 700px;
  }
  #footer_content {
    max-width: 700px;
  }
  #content {
    max-width: 700px;
  }
}

.codehilite {
  font-size: 0.8rem;
}

body {
  margin: 1.5em 2em 1.5em 2em;
}

a {
  text-decoration: none;
  color: #000;
}

#post a {
  text-decoration: none;
  color: rgb(36, 80, 255);
}

header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

#footer_content {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

#footer_content img {
  width: 16px;
  height: 16px;
}

h2 {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 1.2rem;
}

#content {
  margin: 0 auto;
  min-height: 600px;
}

#about img {
  width: 128px;
  height: 128px;
}

#description {
  margin: 2em 0;
}

#description img {
  width: 16px;
  height: 16px;
}

#description p {
  margin: 0.5em 0;
  vertical-align: middle;
}

#about h3 {
  width: 128px;
  text-align: center;
  font-weight: 400;
  /* no wrap */
  white-space: nowrap;
}

article h3 {
  font-weight: 700;
  font-size: 1rem;
}

#blog article {
  margin: 2em 0;
}

.read-more {
  color: rgb(36, 80, 255);
}

#portrait {
  width: fit-content;
  margin: 30px auto 0;
}