{% extends "base.html" %}
{% block title %}About Erik Langille{% endblock %}
{% block content %}
<div id="about">
  <div id="portrait">
    <img src="{{ self.baseurl() }}assets/erik_photo.jpg" alt="Erik Langille" />
    <h3>Erik Langille</h3>
  </div>
  <div id="description">
    <p>💾  I write code</p>
    <p>📍 Toronto</p>
    <p><a href="https://twitter.com/eriklangille" rel="noreferrer noopener" target="_blank">@eriklangille</a></p>
    <p><a href="https://github.com/eriklangille" rel="noreferrer noopener" target="_blank">@eriklangille</a></p>
    <p><a href="https://linkedin.com/in/eriklangille" rel="noreferrer noopener" target="_blank">eriklangille</a></p>
  </div>
</div>
{% endblock %}